{# src/ATrophy/Bundle/BoneBundle/Resources/views/Common/footer.html.twig #}
<footer id="footer">
	<small class="copyright">Web Production by <a href="http://cheersunlimited.com.ua" target="_blank"><span>CHEERS</span></a>, 2014 - {{ "now"|date('Y') }}. Все права сохранены.</small>
	<small class="copyright">Распостранение версии системы без согласия его авторов запрещено.</small>
	<figure>
		<a href="http://cheersunlimited.com.ua" target="_blank"><img src="{{ asset('bundles/atrophybone/images/cheersunlimited.png') }}" alt="CHEERS - Unlimited Web Production"></a>
	</figure>
</footer>
