{# src/ATrophy/Bundle/BoneBundle/Resources/views/Common/header.html.twig #}
<header id="header">
    <a href="{{ path('atrophy_meat_homepage') }}" class="home fa fa-home " title="На главную"></a>
    <h1>{{ title }}</h1>
    <a href="{{ path('logout') }}" class="exit fa fa-sign-out" title="Выйти"></a>
</header>