/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~ 404 start											 ~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header{
	width: 100%;
	overflow: hidden;
}
#header a{
	display: block;
	width: 64px;
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;
}
.content{
	width: 100%;
	text-align: center;
	background: url(../images/map.jpg) no-repeat center 60%;
	overflow: hidden;
}
.content h1{
	font-size: 2em;
	margin-top: 120px;
}
.content p{
	font-size: 1.125em;
	margin-bottom: 55px;
}
.content a{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 1.125em;
	position: relative;
	padding: 0 20px 4px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.content a:before,
.content a:after{
	display: inline-block;
	width: 50px;
	height: 2px;
	content: "";
	background: #363636;
	position: absolute;
	pointer-events: none;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 0.4;
}
.content a:before{
	top: 0;
	left: 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
.content a:after{
	right: 0;
	bottom: 0;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.content a:hover:before{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	left: 50%;
	margin-left: -25px;
	opacity: 1;
}
.content a:hover:after{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	right: 50%;
	margin-right: -25px;
	opacity: 1;
}
.content a:hover{
	color: #cc5200;
}

.content .circle{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 80px auto 50px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-animation: pulsation 3s linear 0s infinite;
	-moz-animation: pulsation 3s linear 0s infinite;
	-ms-animation: pulsation 3s linear 0s infinite;
	-o-animation: pulsation 3s linear 0s infinite;
	animation: pulsation 3s linear 0s infinite;
	overflow: hidden;
}
@-webkit-keyframes pulsation{
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes pulsation{
	0% {
		-moz-transform: scale(1);
	}
	50% {
		-moz-transform: scale(0.9);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@-ms-keyframes pulsation{
	0% {
		-ms-transform: scale(1);
	}
	50% {
		-ms-transform: scale(0.9);
	}
	100% {
		-ms-transform: scale(1);
	}
}
@-o-keyframes pulsation{
	0% {
		-o-transform: scale(1);
	}
	50% {
		-o-transform: scale(0.9);
	}
	100% {
		-o-transform: scale(1);
	}
}
@keyframes pulsation{
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
.content .circle p{
	line-height: 120px;
	font-size: 2.5em;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~ 404 end											 ~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/